/*-----------*/
/*---Films---*/
/*-----------*/

.huevosFritos{
  margin: 26vh auto 0 auto !important;
  display: block !important;
}

.huevosFritosBadges{
  margin: 7.1428vh auto 0;
  img{
    display: block;
    margin: 0 auto;
    width: 260px;
  }
}