/*-------------*/
/*---Globals---*/
/*-------------*/

body{
  font-family: $font-stack;
  font-weight: 500;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.02em;
  /* cursor: url("../img/cursorRec.svg") 10 7, auto; */
  cursor: url("../img/cursorCirc.svg") 8 8, auto;
  background: $black;
}

a{
  cursor: url("../img/cursorFinger.svg") 7 9, auto;
}

h1, h2, h3, p{
  margin: 0;
}

.container{
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
    background: $black;
    margin: 0;
    overflow-y: hidden;
}
