

.deskNav{
    position: fixed;
    right: 50px;

    ul {
        margin: 0;
    }

    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        margin: 2px 10px;
        padding: 4px;

        li{
            text-decoration: none;
            list-style: none;
            font-size: 1.4em;
            color: #FCFDFF;
            line-height: 20px;
        }

        .line{
            position: absolute;
            height: 2px;
            width: 0%;
            left: 0;
            bottom: 0;
            background: #FCFDFF;
        }

        .lineActive{
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
            background: #FCFDFF;
        }
    }
}