@import '../_info';

//LOGO// 
.logo {

    position: fixed;
    left: 50px;
    top: 30px;

    a {

        text-decoration: none;

        h2{
            font-family: $font-stack-display;
            font-weight: 400;
            //font-size: 28px;
            font-size: calc(28px * 0.9);
            line-height: 32px;
            color: $white;
            @media (max-width: 960px) {
            position: fixed;
            left: 25px;
            }
        }

        p{
            top: 68px;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 12px;
            color: $white;
            text-decoration: none;
            @media (max-width: 960px) {
            position: fixed;
            left: 25px;
            top: 63px;
            }
        }
        
    }
}