/*------------------*/
/* Mobile Menu Modal*/
/*------------------*/


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: red;
    z-index: 200;
    /* Overlay closing cross */
    .overlay-close {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 25px;
        top: 27px;
        overflow: hidden;
        border: none;
        background: url(../img/cross.svg) no-repeat center center;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 300;
        cursor: url("../img/cursorFinger.svg") 7 9, auto;
    }
    /* Menu style */
    nav {
        text-align: center;
        position: relative;
        top: calc(50% - 10px);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        li {
            display: block;
            height: 20%;
            height: calc(100% / 4);
            min-height: 50px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            a {
                font-size: 50px;
                font-size: 40px;
                line-height: 70px;
                font-weight: 300;
                display: block;
                color: #000;
                -webkit-transition: color 0.2s;
                transition: color 0.2s;
                text-decoration: none;
            }
        }
    }
}


.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #000;
}

.container {
	/* overflow-x: hidden; */
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}


.container.overlay-open {
	/* -webkit-transform: translateX(50%);
    -webkit-transform: translateX(0%);
	transform: translateX(50%);
  transform: translateX(0%); */
}

.container::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(252,253,255,0.90);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: #FCFDFF;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 250;
}