
/*---Lightbox---*/
/*--------------*/

.vid01{
    background: url("../img/keepOnRolling.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};
.vid02{
    background: url("../img/thisIsBrotherhood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};
.vid03{
    background: url("../img/whatsYourJourney.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};
.vid04{
    background: url("../img/liveTheSpirit30.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};
.vid05{
    background: url("../img/liveTheSpirit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}; 
.vid06{
    background: url("../img/unKilo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};  
.vid07{
    background: url("../img/huevosFritos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};