@import '../shared/_info';

/*---About PDF---*/
/*---------------*/

.aboutContact{
    position: relative;
    width: 100vw;
    height: 80vh;
    background: $black;

    .aboutTitleContactContainer {
        width: 70%;
        margin: 0 auto;
        padding-top: 20.5vh;
        text-align: center;
        @media (max-width: 600px){
            width: 80%;
        }

        a{
            position: relative;
            display: inline-block;
            color: $white;
            font-family: $font-stack-display;
            font-weight: 400;
            //font-size: 180px;'Rokkit'
            //font-size: 14vw; 'Rokkit'
            font-size: calc(14vw * 0.9);
            // line-height: 180px; 'Rokkit'
            // line-height: 13.75vw; 'Rokkit'
            line-height: calc(14vw * 0.9);
            letter-spacing: -0.004em;
            text-decoration: none;
            @media (max-width: 600px){
                font-size: 19vw;
                line-height: 19vw;
            }

            .thickLine{
                position: absolute;
                width: 0%;
                height: 11px;
                bottom: 0;
                left: 0;
                background: $white;
                @media (max-width: 600px){
                    height: 5px;
                }
            }
        }
    }
    .aboutEmailContactContainer{
        width: 60%;
        margin: 20px auto 0;
        @media (max-width: 600px){
            width: 80%;
        }

        p{
            color: $white;
            text-align: right;
            opacity: 0.66;
            font-size: 14px;
            line-height: 27px;
            @media (max-width: 600px){
                font-size: 3.10811vw;
                line-height: 6vw;
            }
        }
    }
}