/*---------------*/
/*---Variables---*/
/*---------------*/

/*---Colours---*/
/*-------------*/
$black: #000;
//$white: #FAFCFF;
$white: #FCFDFF;
$lightGrey: #A5A6A8;
$mediumGrey: #555657;
$grey: #575757;


/*---Fonts---*/
/*-------------*/
$font-stack: 'Poppins', sans-serif;
//$font-stack-display: 'Rokkitt', serif;
$font-stack-display: 'Swiss721BT-Roman', sans-serif;




/*---------------*/
/*---Mixins------*/
/*---------------*/

@mixin lineHeader {
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  background: $white;
}
