@import '../shared/_info';

/*------------*/
/*---Shared---*/
/*------------*/

.container{
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
    background: $black;
    margin: 0;
    overflow-y: hidden;
}