@import '../shared/_info';

/*---Contact Top Fold--*/
/*---------------------*/


.contactTopFold{
    width: 100vw;
    height: 100vh;
    background: $black;

    .imageContactBg{
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/contactFoto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aboutTitleContainer {
        width: 70%;
        margin: 0 auto;
        padding-top: calc(50vh - 7vw);
        text-align: center;

        h2{
            display: inline-block;
            color: $white;
            font-family: $font-stack-display;
            font-weight: 400;
            //font-size: 14vw; 'Rokkit'
            font-size: calc(14vw * 0.9);
            line-height: 14vw;
            letter-spacing: -0.004em;
            text-decoration: none;
        }
    }
}